<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Параллель C.py</title>

    <link href="assets/css/reset.css" rel="stylesheet">
    <link href="assets/css/fonts.css" rel="stylesheet">
    <link href="assets/css/common.css" rel="stylesheet">
    <link href="assets/css/tables.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <header>
        <nav class="main-menu">
            <ul>
                <li class="current"><a href="index.html">Учёба</a></li>
                <li><a href="speccourses-and-clubs.html"><span class="hidden-on-small-menu">Спецкурсы</span><span class="visible-on-small-menu">С/к</span> и клубы</a></li>
                <li><a href="#"><span class="hidden-on-small-menu">Спорт и турниры</span><span class="visible-on-small-menu">Турниры</span></a></li>
            </ul>
        </nav>
        <nav class="parallels-menu">            
            <ul>                
                <li class="parallels-menu-image"><img src="assets/images/parallels-menu.png" /></li>
                <li><a href="#"><span class="parallel-name">A</span></a></li>
                <li><a href="#"><span class="parallel-name">A'</span></a></li>
                <li><a href="#"><span class="parallel-name">B</span></a></li>
                <li><a href="#"><span class="parallel-name">B'</span></a></li>
                <li class="current"><a href="parallel-page.html"><span class="parallel-name">C.py</span></a></li>
                <li><a href="#"><span class="parallel-name">C.cpp</span></a></li>
                <li><a href="#"><span class="parallel-name">C'</span></a></li>
                <li><a href="#"><span class="parallel-name">P</span></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Результаты коллоквиума</h1>

        <p>
            Оценки не&nbsp;влияют на&nbsp;результаты зачёта. В&nbsp;таблице учитываются только полностью засчитанные задачи. 
        </p>

        <table>
        <thead>
            <tr>
                <th>Имя Фамилия</th>
                <th>Задачи</th>
                <th>Оценка</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Андрей Гейн</td>
                <td>4</td>
                <td>3–</td>
            </tr>
            <tr>
                <td>Андрей Негейн</td>
                <td>4</td>
                <td>3–</td>
            </tr>
            <tr>
                <td>Демид Кучеренко</td>
                <td>5</td>
                <td>4–</td>
            </tr>
            <tr>
                <td>Маргарет Корасик</td>
                <td>7</td>
                <td>5</td>
            </tr>
            <tr>
                <td>София Семёнова-Звенигородская</td>
                <td>4</td>
                <td>3+</td>
            </tr>
            <tr>
                <td>Пётр Иванов</td>
                <td>5</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Николай Второй</td>
                <td>6</td>
                <td>4+</td>
            </tr>
        </tbody>
        </table>
    </main>
</body>
</html>
